h1 {
  text-align: center;
  padding: 5px;
  color: #696969;
  border: 2px solid black;
  border-radius: 25px;
  margin-top: 5px;
  margin: 40px;

}
body {
  background-image: url(../img/bg-img2.jpeg);

}
